# preserve ability to have index of entire site
DirectoryIndex 
Header set X-UA-Compatible "IE=Edge"

# URL rewrite to avoid need of adding .html
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
