<div class="wb-tabs ignore-session">
    <div class="tabpanels">
        <details open="open" style="overflow-x : hidden">
            <summary>Update</summary>
            <child-content></child-content>
        </details>
        <details>
            <summary>Historical</summary>
            <generated>
                <!--<img src="static/remarks_table.png" style="width:100%; height:100%;"></img>-->
                <table class="wb-tables tables table table-striped table-hover" data-wb-tables='{"order":[[0,"asc"]]}'>
                    <thead>
                        <tr>
                            <th>Entered Date (UTC)</th>
                            <th>Effective Date (UTC)</th>
                            <th>User</th>
                            <th>Changes</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </generated>
        </details>
    </div>
</div>
